<app-header></app-header>

<div class="container mt-3 mb-3 text-center">
    <div class="card-body">
        <h4 class="card-title mb-3">Muñecas, muñecos y bebotes</h4>
        <p class="card-text mb-3">
            Encuentre su juguete favorito en esta categoria.
        </p>
    </div>
</div>

<div class="mt-5 mb-5">
    <div class="container card-redondeada p-3">
        <div class="container mb-3">
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary w-25" (click)="obtenerProductosBase()">
                        <i class="bi bi-arrow-repeat"></i>
                    </button>
                </div>
                <div class="col-md-4 offset-md-4">
                    <form novalidate [formGroup]="formulario">
                        <div class="form-floating">
                            <input type="text" class="form-control w-75 float-start" id="floatingInput"
                                placeholder="carrito blanco" formControlName="busqueda">
                            <label for="floatingInput">Buscar</label>
                            <button type="button" class="btn btn-primary float-end w-25" [disabled]="!formulario.valid"
                                (click)="mostrarOtrosProductos2(urlBase + '/busqueda5')">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-2">
            <div class="col" *ngFor="let producto of productos">
                <div class="card h-100 cards-productos">
                    <img src="{{rutaImagenes + producto.imagen}}" class="card-img-top"
                        alt="{{rutaImagenes + producto.imagen}}" width="300px" height="300px">
                    <div class="card-body">
                        <h3 class="card-title"><span>$</span> {{producto.precio}}</h3>
                        <h5 class="card-text">{{producto.nombre}}</h5>
                        <p class="card-text">{{cortarCadena(producto.descripcion)}}</p>
                        <p class="card-text text-center"><i class="bi bi-truck"></i> Envios a domicilio</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary float-start" (click)="agregarCarrito(producto)" [disabled]="checarId(producto.id)">
                            <i class="bi bi-cart-plus"></i>
                        </button>
                        <button type="button" class="btn btn-primary float-end">
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <nav aria-label="Page navigation example" *ngIf="details != null">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled" *ngIf="details.previous == null">
                        <a class="page-link">Anterior</a>
                    </li>
                    <li class="page-item" type="button" *ngIf="details.previous != null">
                        <a class="page-link" (click)="mostrarOtrosProductos(details.previous)">Anterior</a>
                    </li>
                    <!--Numeros-->
                    <li class="page-item" type="button" *ngFor="let number of numbers">
                        <a class="page-link" *ngIf="estaBuscando == false"
                            (click)="mostrarOtrosProductos(urlBase+'?'+details.pageSelector+'='+number)">{{number}}</a>
                        <a class="page-link" *ngIf="estaBuscando == true"
                            (click)="mostrarOtrosProductos(urlBaseBusqueda+'/'+buscar+'?'+details.pageSelector+'='+number)">{{number}}</a>
                    </li>
                    <li class="page-item disabled" *ngIf="details.next == null">
                        <a class="page-link">Siguiente</a>
                    </li>
                    <li class="page-item" type="button" *ngIf="details.next != null">
                        <a class="page-link" (click)="mostrarOtrosProductos(details.next)">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="mt-3">
            <div *ngIf="details != null">
                <h6 class="float-start">Página {{details.currentPage}} de {{details.pageCount}}</h6>
                <h6 class="float-end">Hay un total de {{details.total}} registros</h6>
            </div>
        </div>
        <br>
    </div>
</div>

<app-footer></app-footer>
