.card-oscuro{
    background-color: rgba(255,221,48,0.4);
    border-radius: 20px;
    box-shadow: 3px 10px 5px rgba(0, 0, 0, 0.63);
}

i {
    font-size: 8rem;
    color: #0266AE;
}

.text-primary{
    color: #0266AE;
}

.negritas {
    font-weight: 600;
}

.btn-primary{
    background-color: #0266AE;
    border-color: #0266AE;
}

.btn {
    box-shadow: 0px 2px 0 #b1d3eb, 2px 4px 6px #74bcf0;
    font-weight: 500;
    transition: all 150ms linear;
} 

@media (hover: hover) {
    .btn:hover {
        background: #FAECA7;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 1px 1px 2px rgb(255 255 255 / 20%);
        color: #000000;
        text-decoration: none;
        text-shadow: -1px -1px 0 #e9f1f7;
        transition: all 250ms linear;
    }
}