<app-header></app-header>
<div class="mx-auto mt-5 mb-5 card-oscuro p-3" style="width: 350px;">
    <form>
        <div class="mb-3 text-center">
            <i class="bi bi-person-plus-fill"></i>
        </div>
        <div class="mb-3">
            <h2 class="text-center text-primary">Registrate Aquí</h2>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label text-primary negritas">Nombre</label>
            <input type="text" class="form-control" id="nombre">
        </div>
        <div class="mb-3">
            <label for="apellidos" class="form-label text-primary negritas">Apellidos</label>
            <input type="text" class="form-control" id="apellidos">
        </div>
        <div class="mb-3">
            <label for="telefono" class="form-label text-primary negritas">Telefono</label>
            <input type="number" class="form-control" id="telefono">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-primary negritas">Correo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-primary negritas">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label text-primary negritas">Dirección</label>
            <input type="text" class="form-control" id="direccion">
        </div>
        <button type="submit" class="btn btn-primary w-100">Registrarse</button>
    </form>
</div>

<app-footer></app-footer>
