<app-header></app-header>

<div class="container mt-3 mb-3 text-center">
    <div class="card-body">
        <h4 class="card-title mb-3">Control Juguetes</h4>
        <p class="card-text mb-3">
            Aquí puede consultar, agregar, editar y eliminar a los juguetes.
        </p>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            (click)="entroEnAgregar()">Agregar</a>
    </div>
</div>

<div class="container mt-3 mb-3 tabla p-3">
    <div class="rounded table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover tabla-redondeada">
            <thead class="tabla-title">
                <tr>
                    <th>Id</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Categoria</th>
                    <th>Fecha de creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody *ngIf="productos?.length != 0">
                <tr *ngFor="let producto of productos">
                    <td>{{ producto.id }}</td>
                    <td>
                        <img src="{{rutaImagenes + producto.imagen}}" alt="imagen" height="100px" width="100px"
                            class="redondeado">
                    </td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.cantidad }}</td>
                    <td>{{ producto.Categoria }}</td>
                    <td>{{ producto.created_at }}</td>
                    <td>
                        <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                            (click)="entroEnGestion(producto.id)">
                            <i class="bi bi-pencil-square"></i>
                            Gestión</a>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="productos?.length == 0">
                <tr>
                    <td colspan="10">
                        <h5 class="text-center">Sin datos en la tabla...</h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" *ngIf="estaEnGestion == true">Gestión Producto</h5>
                <h5 class="modal-title" id="staticBackdropLabel" *ngIf="estaEnGestion == false">Agregar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="mb-2" novalidate [formGroup]="formulario">
                    <div class="position-relative mb-4">
                        <label for="nombre" class="form-label fs-base">Nombre</label>
                        <input type="text" id="nombre" class="form-control form-control-lg" formControlName="nombre">
                        <div
                            *ngIf="formularioControl.nombre.errors && (formularioControl.nombre.dirty || formularioControl.nombre.touched)">
                            <p class="form-text text-danger"
                                *ngIf="formularioControl.nombre.errors.required || formularioControl.nombre.errors.minlength || formularioControl.nombre.errors.pattern">
                                El nombre es requerido, valido y no debe tener menos de 3 caracteres</p>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="imagen" class="form-label fs-base">Imagen</label>
                        <input type="file" [accept]="aceptacionFile" alife-file-to-base64 (onFileChanged)="onFileChanges($event)"
                            formControlName="imagen">
                        <div class="text-center">
                            <img [src]="dire" [alt]="dire" width="200px" height="200px" class="redondeado">
                        </div>
                        <div
                            *ngIf="formularioControl.imagen.errors && (formularioControl.imagen.dirty || formularioControl.imagen.touched)">
                            <p class="form-text text-danger" *ngIf="formularioControl.imagen.errors.required">
                                La imagen es requerida!!</p>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="descripcion" class="form-label fs-base">Descripción</label>
                        <input type="text" id="descripcion" class="form-control form-control-lg"
                            formControlName="descripcion">
                        <div
                            *ngIf="formularioControl.descripcion.errors && (formularioControl.descripcion.dirty || formularioControl.descripcion.touched)">
                            <p class="form-text text-danger"
                                *ngIf="formularioControl.descripcion.errors.required || formularioControl.descripcion.errors.minlength || formularioControl.descripcion.errors.maxlength || formularioControl.descripcion.errors.pattern">
                                La descripcion es requerida, con un minimo de 15 caracteres y máximo de 255</p>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="precio" class="form-label fs-base">Precio</label>
                        <input type="number" id="precio" class="form-control form-control-lg" formControlName="precio">
                        <div
                            *ngIf="formularioControl.precio.errors && (formularioControl.precio.dirty || formularioControl.precio.touched)">
                            <p class="form-text text-danger"
                                *ngIf="formularioControl.precio.errors.required || formularioControl.precio.errors.minlength || formularioControl.precio.errors.maxlength || formularioControl.precio.errors.pattern">
                                El precio es requerido, valido, no debe tener menos de 1 caracter y no debe ser mayor de
                                6 caracteres</p>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="cantidad" class="form-label fs-base">Cantidad</label>
                        <input type="number" id="cantidad" class="form-control form-control-lg"
                            formControlName="cantidad">
                        <div
                            *ngIf="formularioControl.cantidad.errors && (formularioControl.cantidad.dirty || formularioControl.cantidad.touched)">
                            <p class="form-text text-danger"
                                *ngIf="formularioControl.cantidad.errors.required || formularioControl.cantidad.errors.minlength || formularioControl.cantidad.errors.maxlength || formularioControl.cantidad.errors.pattern">
                                La cantidad es requerida, valida, no debe tener menos de 1 caracter y no debe ser mayor
                                de 6 caracteres</p>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="categoria" class="form-label fs-base">Categoria</label>
                        <select class="form-select" id="categoria" formControlName="categoria">
                            <option selected disabled>Seleccione...</option>
                            <option value="1">Autos, Vehículos y Pistas</option>
                            <option value="2">Lanzadores y Pistolas</option>
                            <option value="3">Juegos de Cocinas</option>
                            <option value="4">Construcción y Bloques</option>
                            <option value="5">Muñecas, Muñecos y Bebotes</option>
                            <option value="6">Juegos de Mesa Infantiles</option>
                        </select>
                        <div
                            *ngIf="formularioControl.categoria.errors && (formularioControl.categoria.dirty || formularioControl.categoria.touched)">
                            <p class="form-text text-danger" *ngIf="formularioControl.categoria.errors.required">
                                La categoria es requerida</p>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="!formulario.valid"
                        (click)="agregarProducto()" *ngIf="estaEnGestion == false" data-bs-dismiss="modal">Agregar</button>
                    <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="validacionEdicion()"
                        (click)="editarProducto()" *ngIf="estaEnGestion == true" data-bs-dismiss="modal">Editar</button>
                    <button type="submit" class="btn btn-primary btn-lg w-100 mt-3" (click)="eliminarProducto()"
                        *ngIf="estaEnGestion == true" data-bs-dismiss="modal">Eliminar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>