<div class="color-footer">
<div class="py-4 px-5 text-white">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Coppel</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a routerLink="/acerca_de" class="nav-link p-0 text-white"><i class="bi bi-newspaper"></i> Acerca de Nosotros</a></li>
            <li class="nav-item mb-2"><a routerLink="/beneficios" class="nav-link p-0 text-white"><i class="bi bi-card-checklist"></i> Beneficios</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"><i class="bi bi-joystick"></i> Juguetes</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"><i class="bi bi-book"></i> Catálogos</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Ayuda</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a routerLink="/como_comprar" class="nav-link p-0 text-white"><i class="bi bi-question-circle"></i> ¿Cómo Comprar?</a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-white"><i class="bi bi-whatsapp"></i> +52 9711698979</a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-white"><i class="bi bi-telephone-outbound"></i> 0820-123-67838</a></li>
            <li class="nav-item mb-2"><a href="mailto:pestana0711@gmail.com" class="nav-link p-0 text-white"><i class="bi bi-envelope-check"></i> gmail</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3 text-center">
            <h5>¿Ya tiene su cuenta?</h5>
            <p>Si no es así, registrese y cree su cuenta.</p>
              <button class="btn btn-warning" type="button">Registrarse</button>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>© 2022, Todos los derechos reservados por....</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>
