<app-header></app-header>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="img-border">
                    <img class="img-fluid" [src]="ubicacionImagen" [alt]="ubicacionImagen">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="h-100">
                    <h6 class="section-title text-center text-primary pe-3">Aprende por pasos!!</h6>
                    <h1 class="display-6 mb-4">¿Como comprar con <span class="text-primary">Coopel Juguetería</span>?</h1>
                    <h3 class="text-primary">Creá tu cuenta</h3>
                    <p class="mb-4">Al crear tu cuenta Coppel podes realizar tus compras de manera fácil y rápida. Tener un usuario te permitirá visualizar tus compras y el estado de tu envío.
                        ¡Aprovechá al máximo las ofertas y promociones que tenemos para vos!</p>
                    <h3 class="text-primary">Buscá el producto que quieras</h3>
                    <p class="mb-4">Navegá por el sitio y encuentra los juguetes que deseas. El menú te permite acceder a Categorías, Destacados y jueguetes Recientes. Comprá en nuestra web, es prático y seguro.</p>
                    <h3 class="text-primary">Agrega al carrito</h3>
                    <p class="mb-4">Presioná el botón Comprar desde la grilla de productos o agregalo directamente al carrito de compras.
                        Haciendo clic en el icono del carrito puedes consultar tus productos seleccionados, cambiar las cantidades o eliminar lo que no desees.
                        Cuando hayas finalizado presioná "Iniciar Compra" para avanzar.</p>
                    <h3 class="text-primary">Elegí el método de tu entrega y medio de pago</h3>
                    <p class="mb-4">En Coppel Juguetería puedes elegir si quieres que enviemos tu pedido a domicilio. Para cualquier duda te atendemos a los numeros <span class="text-primary">+52 9711698979</span>, <span class="text-primary">0820-123-67838</span>
                    con los horarios de lunes a viernes de 8:00 am hasta las 8:00 pm.</p>
                    <h5 class="text-primary text-center">Listo, ¿que esperas?, registrate!!</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>