.container-fluid.py-4.px-5 {
    background-color: #FFDD30 !important;
}

i {
    font-size: 1.8rem;
}

.pequenio {
    font-size: 1.0rem;
}

.navbar.navbar-expand-lg.bg-light.px-5 {
    background-color: #0266AE !important;
}

a.nav-link::before {
    content: "";
    height: 4px;
    width: 0%;
    background: #FFDD30;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s ease-out;
}

a.dropdown-item::before {/*Lo mismo pero con la diferencia del espacio*/
    content: "";
    height: 4px;
    width: 0%;
    background: #FFDD30;
    position: absolute;
    left: 0;
    bottom: -0px;
    transition: 0.4s ease-out;
}

.nav-item, .dropdown-menu li a.dropdown-item{
    position: relative;
}

a.btn {
    box-shadow: 0px 2px 0 #b1d3eb, 2px 4px 6px #74bcf0;
    font-weight: 500;
    transition: all 150ms linear;
} 

.bi-person-circle {
    font-size: 1.0rem;
}

.bi.bi-cart {
    font-size: 1.2rem;
}

a.btn i {
    color : black;
}

.borde {
    border-radius: 20px;
}

/*Hover submenu*/

/*Hacer que el hover solo funcione con pc*/
/*El hover solo puede ser funcional con los ordenadores*/
/*
En vez de usar este hover
.dropdown:hover .dropdown-menu {
    display: block;
}*/

/*Se ocupa este hover en caso de ignorar hover para los dispositivos moviles*/
@media (hover: hover) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    a.nav-link:hover::before {
        width: 100%;
    }
    a.dropdown-item:hover::before{
        width: 100%;
    }
    a.btn:hover {
        background: #0266AE;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 1px 1px 2px rgb(255 255 255 / 20%);
        color: #FFFFFF;
        text-decoration: none;
        text-shadow: -1px -1px 0 #74bcf0;
        transition: all 250ms linear;
    }

    a.btn:hover i{
        color: #FFFFFF;
    }
}
