<!--Menu 1-->
<div class="container-fluid py-4 px-5">
    <div class="row align-items-center top-bar">
        <div class="col-lg-4 col-md-12 text-center">
            <a class="navbar-brand text-center" routerLink="/home">
                <img [src]="ubicacionLogo" [alt]="ubicacionLogo" class="text-center" width="300px">
                <h5 class="fw-bold text-primary m-0 mt-0">Juguetería</h5>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
        </div>
        <div class="col-lg-8 col-md-7 d-none d-lg-block">
            <div class="row">
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <i class="bi bi-clock"></i>
                        <div class="ps-3">
                            <p class="mb-2">Atención en el horario</p>
                            <h6 class="mb-0">Lunes - Viernes, 8:00 a 8:00</h6>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <i class="bi bi-telephone-outbound"></i>
                        <div class="ps-3">
                            <p class="mb-2">Llamanos</p>
                            <h6 class="mb-0">+52 971-152-70-85</h6>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <i class="bi bi-envelope-check"></i>
                        <div class="ps-3">
                            <p class="mb-2">Por Correo</p>
                            <h6 class="mb-0">pestana0711@gmail.com</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin Menu 1-->

<nav class="navbar navbar-expand-lg navbar-dark bg-light px-5 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Administración
                    </a>
                    <ul class="dropdown-menu animate__animated animate__fadeIn animate__faster"
                        aria-labelledby="navbarDropdown">
                        <li>
                            <h6 class="dropdown-header">Personal</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">Administradores</a></li>
                        <li><a class="dropdown-item" href="#">Asesores</a></li>
                        <li><a class="dropdown-item" href="#">Clientes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Compras</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">Compras</a></li>
                        <li><a class="dropdown-item" href="#">Compras por Carrito</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Productos</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">Juguetes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categorías
                    </a>
                    <ul class="dropdown-menu animate__animated animate__fadeIn animate__faster"
                        aria-labelledby="navbarDropdown">
                        <li>
                            <h6 class="dropdown-header">Juguetes</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">Autos, Vehículos y Pistas</a></li>
                        <li><a class="dropdown-item" href="#">Lanzadores y Pistolas</a></li>
                        <li><a class="dropdown-item" href="#">Juegos de Cocinas</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Primera Infancia</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">Construcción y Bloques</a></li>
                        <li><a class="dropdown-item" href="#">Muñecas, Muñecos y Bebotes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Juegos de Mesa</h6>
                        </li>
                        <li><a class="dropdown-item" href="#">Infantiles</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Destacados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Recientes</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="m-1 nav-item">
                    <a routerLink="/acceder"class="btn btn-light rounded-pill d-lg-block w-100">Acceder</a>
                </li>
                <li class="m-1 nav-item">
                    <a href="#" class="btn btn-light rounded-pill d-lg-block w-100">Registrarse</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Centro de Ayuda
                    </a>
                    <ul class="dropdown-menu animate__animated animate__fadeIn animate__faster"
                        aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/como_comprar"><i class="bi bi-question-circle pequenio"></i> ¿Cómo Comprar?</a></li>
                        <li><a class="dropdown-item"><i class="bi bi-whatsapp pequenio"></i> +52 9711698979</a></li>
                        <li><a class="dropdown-item"><i class="bi bi-telephone-outbound pequenio"></i> 0820-123-67838</a></li>
                        <li><a class="dropdown-item" href="mailto:pestana0711@gmail.com"><i class="bi bi-envelope-check pequenio"></i> gmail</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Salir
                    </a>
                    <ul class="dropdown-menu animate__animated animate__fadeIn animate__faster"
                        aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>