.container-fluid.py-4.px-5.wow.fadeIn{
    background-color: #FFDD30 !important;
}

i {
    font-size: 1.8rem;
}

.navbar.navbar-expand-lg.bg-light.py-4.px-5{
    background-color: #0266AE !important;
}