<!--Menu 1-->
<div class="container-fluid py-4 px-5">
    <div class="row align-items-center top-bar">
        <div class="col-lg-4 col-md-12 text-center">
            <a class="navbar-brand text-center" routerLink="/home">
                <img [src]="ubicacionLogo" [alt]="ubicacionLogo" class="text-center" width="300px">
                <h5 class="fw-bold text-primary m-0 mt-0">Juguetería</h5>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
        </div>
        <div class="col-lg-8 col-md-7 d-none d-lg-block">
            <div class="row">
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <i class="bi bi-clock"></i>
                        <div class="ps-3">
                            <p class="mb-2">Atención en el horario</p>
                            <h6 class="mb-0">Lunes - Viernes, 8:00 a 8:00</h6>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <i class="bi bi-telephone-outbound"></i>
                        <div class="ps-3">
                            <p class="mb-2">Llamanos</p>
                            <h6 class="mb-0">+52 971-152-70-85</h6>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <i class="bi bi-envelope-check"></i>
                        <div class="ps-3">
                            <p class="mb-2">Por Correo</p>
                            <h6 class="mb-0">pestana0711@gmail.com</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin Menu 1-->

<nav class="navbar navbar-expand-lg navbar-dark bg-light px-5 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Administración
                    </a>
                    <ul class="dropdown-menu animate__animated animate__fadeIn animate__faster"
                        aria-labelledby="navbarDropdown">
                        <li>
                            <h6 class="dropdown-header">Personal</h6>
                        </li>
                        <li><a class="dropdown-item" routerLink="/administradores">Administradores</a></li>
                        <li><a class="dropdown-item" routerLink="/asesores">Asesores</a></li>
                        <li><a class="dropdown-item" routerLink="/clientes">Clientes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Compras</h6>
                        </li>
                        <li><a class="dropdown-item" routerLink="/compras">Compras</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Productos</h6>
                        </li>
                        <li><a class="dropdown-item" routerLink="/productos">Juguetes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categorías
                    </a>
                    <ul class="dropdown-menu animate__animated animate__fadeIn animate__faster"
                        aria-labelledby="navbarDropdown">
                        <li>
                            <h6 class="dropdown-header">Juguetes</h6>
                        </li>
                        <li><a class="dropdown-item" routerLink="/vehiculos">Autos, Vehículos y Pistas</a></li>
                        <li><a class="dropdown-item" routerLink="/lanzadores">Lanzadores y Pistolas</a></li>
                        <li><a class="dropdown-item" routerLink="/cocinas">Juegos de Cocinas</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Primera Infancia</h6>
                        </li>
                        <li><a class="dropdown-item" routerLink="/construccion">Construcción y Bloques</a></li>
                        <li><a class="dropdown-item" routerLink="/muniecos">Muñecas, Muñecos y Bebotes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Juegos de Mesa</h6>
                        </li>
                        <li><a class="dropdown-item" routerLink="/infantiles">Infantiles</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="m-1 nav-item">
                    <a routerLink="/acceder" class="btn btn-light rounded-pill d-lg-block w-100">Acceder</a>
                </li>
                <li class="m-1 nav-item">
                    <a routerLink="/registro" class="btn btn-light rounded-pill d-lg-block w-100">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">
                        <i class="bi bi-person-circle"></i>
                        {{nombre}} {{apellidos}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light w-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                        aria-controls="offcanvasRight">
                        <i class="bi bi-cart"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{contador}}
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Centro de Ayuda
                    </a>
                    <ul class="dropdown-menu animate__animated animate__fadeIn animate__faster"
                        aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/como_comprar"><i
                                    class="bi bi-question-circle pequenio"></i> ¿Cómo Comprar?</a></li>
                        <li><a class="dropdown-item"><i class="bi bi-whatsapp pequenio"></i> +52 9711698979</a></li>
                        <li><a class="dropdown-item"><i class="bi bi-telephone-outbound pequenio"></i>
                                0820-123-67838</a></li>
                        <li><a class="dropdown-item" href="mailto:pestana0711@gmail.com"><i
                                    class="bi bi-envelope-check pequenio"></i> gmail</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Salir
                    </a>
                    <ul class="dropdown-menu animate__animated animate__fadeIn animate__faster"
                        aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end borde" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Tu Carrito de Compras</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <div *ngFor="let producto of productos"
                class="list-group-item list-group-item-action alert alert-dismissible fade show">
                <div class="text-center">
                    <img [src]="rutaImagenes + producto.imagen" alt="" height="100px" width="100px">
                </div>
                <div class="float-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{producto.nombre}}</h5>
                    </div>
                    <p class="mb-1">$ {{producto.precio}}</p>
                    <small class="text-muted">Cant. Existencia {{producto.cantidad}}</small>
                </div>
                <div class="float-end">
                    <button type="button" class="btn text-reset" data-bs-dismiss="alert" aria-label="Close"
                        (click)="eliminarProducto(producto)">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </div>
            </div>
            <div *ngIf="productos.length == 0">
                <h5 class="text-center text-muted">Sin jueguetes en el carrito!!</h5>
            </div>
        </div>
    </div>
</div>